/* FOOTER */
footer{
    background-color: #1b2a4e;
    min-height: 70px;
}

footer p{
    color:#f3f3f3;
}

/*CAROUSEL*/
.carousel-inner{
    max-height: 30rem;
}

/* MEdia querys */
@media (max-width:768px){
    #intro{
        width: 90% !important;
    }
}