/* FOOTER */
footer{
    background-color: #1b2a4e;
    min-height: 70px;
}

footer p{
    color:#f3f3f3;
}

/*CAROUSEL*/
.carousel-inner{
    max-height: 30rem;
}

#img-equipo{
    max-height: 30rem !important;
    width: 80%;
}

/* MEdia querys */
@media (max-width:768px){
    #intro, #equipo{
        width: 90% !important;
    }
    .fila{
        width: 100% !important;
        text-align: center;
    }
}

@media (maxwidth:576px){
    .wrap{
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
}

/*Contactanos*/
.rounded-pill{
   
   
}